<!DOCTYPE html>
<html>
<head>
	<title>Dynamic Programming</title>
	<link rel="stylesheet" href="unified_style.css">
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
	<p class='heading'>Dynamic Programming</p>
	<div class='grid'></div>

	</div>

	<div class="circular__read">
		
	</div>
	<a href="../index.html" class="back-button">Back</a>
	<script>

// Main
		let grid = document.querySelector('.grid');
		let algo = [
			{
				name: 'Ladders Problem',
				link: `dynamic/ladder.html`
			},
			{
				name: '0/1 Knapsack',
				link: `dynamic/0_1_knapsack.html`
			},
			{
				name: 'unbounded 0/1 Knapsack',
				link: `dynamic/unbounded_0_1_knapsack.html`
			},
			{
				name: 'Subset Sum problem',
				link: `dynamic/subset_sum.html`
			},
			{
				name: 'Cutting Rod problem',
				link: `dynamic/cutting_rod.html`
			},
			{
				name: 'Coin change-making problem',
				link: `dynamic/coin_change_making.html`
			},
			{
				name: 'Longest Common Subsequence Problem',
				link: `dynamic/longest_common_sequence.html`
			},
			{
				name: 'Levenshtein Distance Problem',
				link: `dynamic/levenshtein.html`
			},
			// {
			// 	name: 'Matrix Chain Multipication',
			// 	link: `dynamic/matrix_chain_multipication.html`
			// },
			{
				name: 'Travelling salesman',
				link: `dynamic/travelling_salesman.html`
			}
		]
		init();

// Utility function 

		function init() {
			algo.forEach((e, i) => {
				let html = `
						<a href="${e.link}" class="algo__link">${e.name}</a>
				`
				let algo = document.createElement('div');
				algo.classList.add('algo');
				algo.innerHTML = html;
				grid.appendChild(algo);
			})
		}
	</script>
</body>
</html>
