<!DOCTYPE html>
<html>
<head>
	<title>Recursion</title>
	<link rel="stylesheet" href="unified_style.css">
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
	<p class='heading'>Recursion</p>
	<div class='grid'></div>

	</div>

	<div class="circular__read">
		
	</div>
	<a href="../index.html" class="back-button">Back</a>
	<script>

// Main
		let grid = document.querySelector('.grid');
		let algo = [
			{
				name: 'Factorial',
				link: `recursion/factorial.html`
			},
			{
				name: 'H Trees',
				link: `recursion/h_tree.html`
			},
			{
				name: 'Snow Flakes',
				link: `recursion/snow_flakes.html`
			},
			{
				name: 'Tower Of Hanoi',
				link: `recursion/tower_of_hanoi.html`
			}

		]
		init();

// Utility function 

		function init() {
			algo.forEach((e, i) => {
				let html = `
						<a href="${e.link}" class="algo__link">${e.name}</a>
				`
				let algo = document.createElement('div');
				algo.classList.add('algo');
				algo.innerHTML = html;
				grid.appendChild(algo);
			})
		}
	</script>
</body>
</html>
